<style>    
  main .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
  }
  
  main .content p {
    margin-top: .5rem;
    font-size: 1.1rem;
  }
</style>
  
{{> header }} 
{{#> container }}
  {{#> main }}
    <div class="content">
        <h2>Hi, <span class="outline-green">{{ name }}</span>. A recovery password request has been sent to you</h2>
        <p>Your token to refreash password is: <span class="outline-green">{{ token }}</span>.</p>
    </div>
    {{> subcontent text="Click below to refreash your password and keep betting ;)" link="https://tgl-bets.com/forgot-password/recovery" button-text="Forgot password" }}
  {{/main }}
  {{> footer }}
{{/container }}