{{> header }} 
{{#> container }}
  {{#> main }}
    {{#> content }}
        <h2>Hi, <span class="outline-green">{{ name }}</span>. A recovery password request has been sent to you</h2> 
        <p>Your token to refreash password is: <span class="outline-green">{{ token }}</span>.</p> 
    {{/content}}
    {{> subcontent text="Click below to refreash your password and keep betting ;)" link="https://tgl-bets.com/forgot-password/recovery" button-text="Forgot password" }}
  {{/main }}
  {{> footer }}
{{/container }}