<style>
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .content p {
    margin-top: .5rem;
    font-size: 1.1rem;
  }
</style>
<div class="content">
  {{> @partial-block }}
</div>