<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Roboto', sans-serif;
      font-style: italic;
      color: #707070;
  }
  
  html, body {
      width: 100%;
      background: #F7F7F7 0% 0% no-repeat padding-box;
      opacity: 1;
      font-style: italic;
  }
  

  .container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
  }
</style>
<div class="container">
  {{> @partial-block }}
</div>