<style>
  header {
      margin-top: 0.9375rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  
      font-weight: 500;
      margin-bottom: 2rem;
  }
  
  header {
      border-bottom: 2px solid #EBEBEB;
  }
  
  header .title-left h1 {
     font-size: 2.75rem;
     border-bottom: 4px solid #B5C401;
  }
</style>

<header>
<div class="titles title-left">
    <h1>TGL</h1>
</div>
</header>