<style>
  .subcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
 .subcontent p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
</style>
<div class="subcontent">
    <p class="outline-green">
      {{text}}</p>
    <a href="{{link}}">
      {{> button text=button-text }}
    <a/>
</div>